<#include "/wx_share_header.html" />
<link href="https://static.bevol.cn/wx/css/wx_topic_list_20170310.css" rel="stylesheet" />
<div id="goods-header">
    <h1 class="mui-title"></h1>
</div>

<div class="mui-content" id="container1" style="display:block;background: #F5F2FA;">
    <!--下拉刷新容器-->
    <div  class="html">
        <!--2.0新加的-->
        <div class="hotlist_main" id="topic-main-html">

        </div>

        <div class="topic-box">
            <div id="item1" class="mui-control-content mui-active">

                <div class="clear"></div>
            </div>
        </div>
    </div>

</div>

<script type="text/plain" list-info-tpl id="list-info-tpl">
<div class="hotlist_main_title">
    <div class="hotlist_main_title_banner"><img src="${img}/Lists/<%=result.detail.image%>@80p" class="img_z"></div>
    <div class="hotlist_main_title_info">
        <%=result.detail.descp%>
    </div>
</div>
</script>

<script type="text/plain" topic-list-tpl id="topic-list-tpl">
                <ul id="item1_append">
                    <% for(var i=0; i<result.length; i++){ %>
                    <li>
                        <div class='special_main_text01'>
                            <div class='special_main_text_img'>
                                <img src="<%=result[i].imgSrc%>@80p" class='img_z'>
                            </div>
                            <div class='special_main_title01'>
                                <%=result[i].title%>
                            </div>
                            <div class='special_main_text_num'>
                                <div class='special_main_see'>
                                    <img src="<%=result[i].userBaseInfo.headimgurl%>@90p" onerror="javascript:this.src='${img}/wx/images/newyixiujie.png@90p'" class='img_header'><%=result[i].userBaseInfo.nickname%>
                                </div>
                                <div class='special_main_comment'>
                                    <img src="${img}/wx/images/zanzan.png" class='img_zanzan'> <%=result[i].hitNum%>
                                </div>
                                <div class='clear'></div>
                            </div>
                        </div>
                    </li>
                    <%}%>
                </ul>
</script>

<script>
    var list_id = $.getUrlField("id");
    var url="${api_url_https!'https://api.bevol.cn'}"+"/user_part/list/lists";
    $.ajax({
        url:url,
        type:'post',
        data:{p_entity_id:list_id,sort:1, pager: 1, pageSize:4},
        dataType:"json",
        success:function(data) {
            var topic_list_info =template('topic-list-tpl',data);
            $('#item1').html(topic_list_info);
        }
    });

    var list_url = "${api_url_https!'https://api.bevol.cn'}"+"/hotlist/detail"
    $.ajax({
        url:list_url,
        type:'post',
        data:{id:list_id},
        dataType:"json",
        success:function(data) {
            $('.mui-title').html(data.result.detail.title);
            var list_info =template('list-info-tpl',data);
            list_info = list_info.replace(/&#60;/g, "<");
            list_info = list_info.replace(/&#62;/g, ">");
            $('#topic-main-html').html(list_info);
        }
    });
</script>
<#include "/wx_share_footer.html" />