<!DOCTYPE html>
<html>
<head>
    <title>${title}</title>
    <!-- 声明文档使用的字符编码 -->
    <meta charset='utf-8'>
    <!-- 优先使用 IE 最新版本和 Chrome -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!-- 页面描述 -->
    <meta name="description" content="${description!}"/>
    <!-- 页面关键词 -->
    <meta name="keywords" content="${keywords!}"/>
    <#if back??>
        <!--回源操作：禁止搜索引擎扫描-->
        <meta name="robots" content="none" />
        <base target="_blank" href="https://m.bevol.cn/"/>
        <#else/>
        <!-- 搜索引擎抓取 -->
        <meta name="robots" content="index,follow"/>
        <base target="_blank" />
    </#if>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="${css}/global2.css"/>
    <!-- javascript -->
    <script type="text/javascript" src="${js}/jquery.min.js"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="${js}/global2.js"></script>
    <script type="text/javascript" src="${js}/base2.js"></script>

<!--
    <script type="text/javascript" src="${js}/bootstrap.min.js"></script>
    <script type="text/javascript" src="${js}/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="${js}/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="${js}/common.js"></script>-->
    <script type="text/javascript" src="${js}/third_cookie2.js"></script>
    <script>
        //baidu统计
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?10d4a1d4aceb938e0505be5df867b453";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
	<script>
		//360统计
		(function(){
		   var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?045a03941aa457762ba1f68f18dfc14a":"https://jspassport.ssl.qhimg.com/11.0.1.js?045a03941aa457762ba1f68f18dfc14a";
		   document.write('<script src="' + src + '" id="sozz"><\/script>');
		})();
	</script>
    <script type='text/javascript'>
        var _vds = _vds || [];
        window._vds = _vds;
        (function(){
            _vds.push(['setAccountId', 'bc5f7463b64b67bf']);
            (function() {
                var vds = document.createElement('script');
                vds.type='text/javascript';
                vds.async = true;
                vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(vds, s);
            })();
        })();
    </script>

</head>

<body>