<#include "/header.html" />
<script type="text/javascript" src="${js}/arttmpl.js"></script>
<script type="text/javascript" src="${js}/m_composition2.js"></script>
<link rel="stylesheet" type="text/css" href="${css}/m_composition2.css"/>
<!--搜索框-->
<header class="mui-bar mui-bar-nav" id="head_box">
    <div class="mui-input-row">
        <input type="search" readonly="value" placeholder="搜索${product_total!'557588'}种化妆品的安全和功效" id="searchval" class="mui-input-clear">
        <span class="mui-icon search-icon" style=""><img src="${img}/wx/images2/search_icon_black.png"></span>
    </div>
</header>
<div class="mui-content">
    <div id="pullrefresh" class="mui-scroll-wrapper" style="padding-top: 44px;">
        <div id="input_box">
            <div class="search-box composition">
                <ul id="composition-container" class="mui-table-view mui-table-view-chevron">

                </ul>
            </div>
        </div>
    </div>
</div>

<!--composition-->
<script type="text/html" id="composition-tpl">
    <%for(var i = 0; i < data.length; i++){%>
    <li class="mui-table-view-cell goods_box composition-btn" data-mid="<%=data[i].mid%>" a-href>
        <%=data[i].name%>
    </li>
    <%}%>
</script>
<include file="Public:footer" />
