
<div id='pg11' class="page" style='position:relative;'>
    <!DOCTYPE html>
    <html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <title>美丽修行网-为用户提供更好的化妆品、护肤品全成分查询和安全分析</title>
        <meta name="keywords" content="化妆品查询，护肤品成分查询，护肤品查询，化妆品成分查询，化妆品产品批号，护肤品产品批号，成分查询，全成分分析，化妆品安全，cosdna，化妆品成分分析，化妆品安全，护肤防晒攻略，美丽修行"/>
        <meta name="description" content="美丽修行网为您提供48万种以上化妆品、护肤品成分权威数据查询，提供中国最全最权威的化妆品与成分数据查询服务，包括洁面、化妆水、精华、乳霜、眼霜、面膜、防晒、洗护等产品批号查询，彩妆教程，美妆心得，护肤指南，最资深的专家用户为您提供权威的产品点评，中国最全的INCI查询、cosdna查询类网站，微信关注美丽修行和下载APP科学安全的保护您的皮肤。"/>

        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=0">

        <!-- styles -->
        <link rel="stylesheet" type="text/css" href="https://static.bevol.cn/wx/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://static.bevol.cn/wx/css/global_2017011001.css">
        <!-- javascript -->
        <script type="text/javascript" src="https://static.bevol.cn/wx/js/jquery.min.js"></script>
        <script type="text/javascript">
            var BLR={};
            BLR.pcdir="https://static.bevol.cn/wx/";
            BLR.home="https://m.bevol.cn/";
            BLR.img="https://img1.bevol.cn/";
            BLR.user="https://m.bevol.cn/";
            var BLU='';
            if(BLU)
                BLU=$.parseJSON(BLU);
            var BLE={};
            BLE.goods_id="";
            //配置
            var BLC={};
            //测试模式
            BLC.RunType="__RUNTYPE__";
        </script>
        <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script type="text/javascript" src="https://static.bevol.cn/wx/js/base.js"></script>


        <script type="text/javascript" src="https://static.bevol.cn/wx/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://static.bevol.cn/wx/js/third_cookie.js"></script>
        <script type="text/javascript" src="https://static.bevol.cn/wx/js/bootstrap-select.min.js"></script>
        <script type="text/javascript" src="https://static.bevol.cn/wx/js/jquery.uniform.min.js"></script>
        <script type="text/javascript" src="https://static.bevol.cn/wx/js/common.js"></script>
        <script type="text/javascript" src="https://static.bevol.cn/wx/js/arttmpl.js"></script>
        <script>
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?10d4a1d4aceb938e0505be5df867b453";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
            BLR.search="https://search.bevol.cn/";
        </script>

        <script type='text/javascript'>
            var _vds = _vds || [];
            window._vds = _vds;
            (function () {
                _vds.push(['setAccountId', 'bc5f7463b64b67bf']);
                (function () {
                    var vds = document.createElement('script');
                    vds.type = 'text/javascript';
                    vds.async = true;
                    vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(vds, s);
                })();
            })();
        </script>

    </head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <body>

    <div class="weixinde" style="width:100%;height:auto;display:none;">
        <div style="width:100%;padding:5% 0;background-color:#c8ace6;padding-top:14%;" id="sec11">
            <img src='https://static.bevol.cn/wx/images/ppc11.png' style='width:70%;height:auto;margin-left:15%;display:block;'/>
            <img src='https://static.bevol.cn/wx/images/ppc12.png' style='width:56%;height:auto;margin-left:22%;display:block;margin-top:25px;'/>
            <div style='width:100%;height:auto;margin-top:5%;'>
                <a style='display:inline-block;cursor:pointer;width:40%;margin-left:30%;' id='searchcp'>
                    <img src="https://static.bevol.cn/wx/images/psearch.png" alt="" style='width:100%;height:auto;display:block;'/>
                </a>
            </div>
            <div style="width:100%;height:auto;margin-top:10px;">
                <a href='https://itunes.apple.com/app/id1089854728' style='display:inline-block;cursor:pointer;width:40%;margin-left:30%;'>
                    <img src="https://static.bevol.cn/wx/images/ppcpd.png" alt="" style='width:100%;height:auto;display:block;'/>
                </a>
                <a href='https://static.bevol.cn/Appversion/bevol.apk' style="display:inline-block;cursor:pointer;width:40%;margin-left:30%;margin-top:10px;">
                    <img src="https://static.bevol.cn/wx/images/ppcad.png" style='width:100%;height:auto;display:block;'/>
                </a>
            </div>
        </div>
        <div style="width:100%;height:auto;padding:5% 0;" id="sec22">
            <img src="https://static.bevol.cn/wx/images/sec22.png" alt="" style="width:80%;margin-left:10%;height:auto;"/>
        </div>
        <div style="width:100%;height:auto;background-color:#c8ace6;padding:5% 0;">
            <img src="https://static.bevol.cn/wx/images/sec23.png" alt="" style="width:80%;margin-left:10%;height:auto;"/>
        </div>
        <div style="width:100%;height:auto;padding:5% 0;">
            <img src="https://static.bevol.cn/wx/images/sec24.png" alt="" style="width:80%;margin-left:10%;height:auto;"/>
        </div>
        <div style="width:100%;height:auto;background-color:#c8ace6;text-align: center;padding:5% 0;">
            <img src="https://static.bevol.cn/wx/images/ppc51.png" alt="" style="display:block;width:30%;margin-left:35%;height:auto;"/>
            <img src="https://static.bevol.cn/wx/images/ppc52.png" alt="" style="display:block;width:44%;margin-left:28%;height:auto;margin-top:5%;"/>
            <div style='width:100%;margin-top:5%;'>
                <a href='https://itunes.apple.com/app/id1089854728' style='display:inline-block;width:40%;'>
                    <img src="https://static.bevol.cn/wx/images/ppcpd.png" alt="" style="display:block;width:100%;height:auto;"/>
                </a>
                <a href="https://static.bevol.cn/Appversion/bevol.apk" style='display:block;width:40%;margin-left:30%;margin-top:10px;'>
                    <img src="https://static.bevol.cn/wx/images/ppcad.png" alt="" style='display:block;width:100%;height:auto;'/>
                </a>
            </div>
        </div>
    </div>

    <div style="display:none;" id="wdt">
        <header>
            <div class="logo" style=" margin-top: 50px;margin-bottom: 30px;">
                <a href="/index/index.html"><img src="https://static.bevol.cn/wx/images/logo.png" alt="logo" /> </a>
            </div>
        </header>


        <div class="serach-box cl">
            <div class="search-tab">
                <em data-url="/product" class="on">产品</em>&nbsp;
                <em data-url="/composition" class="">成分</em>
            </div>
            <form autocomplete="off" action="/product" method="get" class="search-form clearfix" id="search-form" novalidate="novalidate">
                <input type="text" placeholder="搜索353489条化妆品" name="keywords" id="keywords" value="" class="search-term">
                <input type="submit" value="" class="search-btn">
            </form>
            <div class="hot-search">
                <strong class="hot-keyword">热门搜索</strong>
                <#list hot_keywords as hot_keyword>
                    <a href="/product?keywords=${hot_keyword}" alt='${hot_keyword}'>${hot_keyword}</a>&nbsp;
                </#list>
            </div>

        <div wxfx  ></div>

        <!-- <p class="search-tag-line">国内首家化妆品成分查询平台，30万化妆品单品，8千种成分，药监局数据同步。一键看懂化妆品“硬件配置”，匹配你的肌肤，修行你的美丽。
        </p> -->
    </div>
    <div class="iner-block"></div>
    <div id='pg22' class="page" style='display:none;'>
        <div class="img-txtlist">
            <ul>
                <#list top_goods as goods>
                    <li>
                        <a href="/product/${goods.mid}.html" title="${goods.title}">
                            <div class="img">
                                <img  src="${img}/Goods/source/${goods.image}@90p" onerror="javascript:this.src='${img}/wx/images/default.jpg'" alt="${goods.title}" />
                            </div>
                            <div class="text">
                                <h4>${goods.title}</h4>
                                <p class="exp">
	                                <span class="lable-info">
	                                    <#switch goods.dataType>
                                            <#case 1>
                                                进口备案
                                            <#break/>
                                            <#case 2>
                                                国产备案
                                            <#break/>
                                            <#case 3>
                                                国产备案
                                            <#break/>
                                            <#case 4>
                                                产品标签
                                            <#break/>
                                        </#switch>
                                    </span>
                                </p>
                            </div>
                        </a>
                    </li>
                </#list>
            </ul>
        </div>
    </div>

    <div class="download_text">
        <a onclick='javascript:window.location.href="http://istatic.bevol.cn/static/download/init/8"' >体验高级查询、产品肤质匹配？点我去下载美丽修行app吧！</a>
    </div>
    <div class="page_foot">
        <div class="foot_close" onclick="javascript:$('.download_text').show();$('#all_composition .table-facts table').css('margin-bottom','20px');$('.page_foot').remove();"><img id = "foot_close" src="https://img0.bevol.cn/wx_bottom_close.png" /></div>
        <div class="foot_logo"><img src="https://img0.bevol.cn/wx_bottom_icon.png" class="img_z" /></div>
        <!--<div class="foot_text">
            &lt;!&ndash;<h4>美丽修行</h4>&ndash;&gt;
            <p>最懂安全和功效的护肤神器！</p>
        </div>-->
        <a onclick='javascript:window.location.href="http://istatic.bevol.cn/static/download/init/7"' >
            <div class="foot_btn">
                立即下载
            </div>
        </a>
    </div>
    <script>
        var lengtha=$('.hot-search a');
        var iii;
        for(var i=0;i<lengtha.length;i++){
            iii=lengtha[i].href.substring(lengtha[i].href.indexOf('=')+1);
            iii=encodeURI(iii);
            lengtha[i].setAttribute('href','/product?keywords='+iii);
        }
        $("title").text("美丽修行");
        $(document).ready(function(){

            //第三方入口设置cookie
            var pcode = $.getUrlField("pcode")
            setCookie("third_partner", pcode, 0.5)

            function isGoogs() {
                var act=$(".on").data("url");
                //请输入关键字...
                if(act.indexOf("product")!=-1) {
                    //产品
                    $("#keywords").attr("placeholder","搜索353489条化妆品");
                }else {
                    //成分
                    $("#keywords").attr("placeholder","搜索10585条化妆品成分");
                }

            }
            // 搜索类型选择
            $(".serach-box.cl div em").click(function(){
                var _this = $(this);
                _this.addClass("on").siblings().removeClass("on");
                $("#search-form").attr("action", _this.data("url"));
                isGoogs();
            })
            var _this = $("#keywords");
            _this.on("keyup", function(){
                // _this.attr("placeholder", "请输入关键字...").css({color: "#858c91"});
                isGoogs();
            });
            $("#search-form").submit(function(){
                if(!$.trim(_this.val())){
                    //  _this.focus().attr("placeholder", "搜索内容不能为空！").css({color: "red"});
                    isGoogs();
                    return false;
                }else{
                    $("#keywords").attr("placeholder",_this.val());
                }
            });
            var token_name = "__hash__";
            $("#search-form input[name='" + token_name + "']").remove();
            $.wxfx();
            $("#search-form").submit(function(){
                var cccc=encodeURI($("#keywords").val());
                $("#keywords").css("color","#fff");
                $("#keywords").val(cccc);
            });
        });
        function weixin(){
            var ua = window.navigator.userAgent.toLowerCase();
            if(ua.match(/MicroMessenger/i) == 'micromessenger'){
                return true;
            }else{
                return false;
            }
        }
        if(weixin()){
            $('#wdt').show();
            $('#pg22').show();
        }else{
            $('.weixinde').css('display','block');
            $('#searchcp').click(function(){
                $('.weixinde').css('display','none');
                $('#wdt').css('display','block');
                $('#pg22').css('display','block');
            });
        }

    </script>

    </body>
    </html>