<footer>
    <div class="follow-us" style="margin-top: 16px">
        <p>友情链接：<a href="http://gm.39.net/" target="_Blank"><i style="color: white"> 39健康肌肤 </i></a> <a href="http://www.hzpgc.com/" target="_Blank"><i style="color: white"> 品观网 </i></a></p>
        <article>
            <span style="color: white;font-size: 14px;border-right: 1px solid white">关注我们</span>
            <a href="https://weibo.com/u/5643631703" target="_Blank"><i class="fa fa-weibo" aria-hidden="true" style="color: white"></i></a>
            <i id="weChat" class="fa fa-weixin" aria-hidden="true" style="color: white"></i>
            <img src="https://img0.bevol.cn/pc/images/pcpicture/gzhewm.png" alt="">
        </article>
        <p style="margin-top: 16px;font-size: 12px">@ 武汉智美无限信息科技有限公司 美丽修行</p>
        <p style="margin-top: 2px;font-size: 12px">2017 bevol.cn 版权所有 ICP证：鄂15015954 <a href="#">网站导航</a></p>
    </div>
    <div style="margin-left: 32px">
        <img src="https://img0.bevol.cn/pc/images/pcpicture/download-code.png" alt="" class="qr-code" width="100"
             height="100">
        <div class="footer-download" style="margin-top: 0">
            <section>
                <p style="color:white;">最懂安全的护肤神器!</p>
                <p>— 美丽修行</p>
            </section>
        </div>
    </div>
</footer>

<!--下载app模态框 zp 2017.5.15-->
<div id="download" style="display: none">
    <div class="top-download-app"></div>
    <div id="download-container">
        <div id="download-delete">
            <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i>
        </div>
        <div style="display: inline-block">
            <h1>扫描二维码直接下载</h1>
            <img src="https://img1.bevol.cn/pc/images/pcpicture/qr-code.png" alt="" style="margin-left: -50px">
        </div>
        <div style="display: inline-block;vertical-align: top">
            <h1>直接下载</h1>
            <div class="ios-android" style="margin-top: 80px;background-color: #D3A3E8;"><a
                    href="http://istatic.bevol.cn/static/download/init/6" style="text-decoration: none;color: white"><i
                    class="fa fa-apple fa-2x" aria-hidden="true" style="vertical-align: middle;color: white"></i>&nbsp;&nbsp;iPhone下载</a>
            </div>
            <div class="ios-android" style="margin-top: 20px;background-color: #D3A3E8;"><a
                    href="http://istatic.bevol.cn/static/download/init/5" style="text-decoration: none;color: white"><i
                    class="fa fa-android fa-2x" aria-hidden="true" style="vertical-align: middle;color: white"></i>&nbsp;&nbsp;Android下载</a>
            </div>
        </div>
    </div>
</div>
<!--end-->

<script type="text/javascript">
    //baidu统计
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?14d9852b3b43958dbf0ebac06426979c";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script>
    //360统计
    (function(){
        var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?045a03941aa457762ba1f68f18dfc14a":"https://jspassport.ssl.qhimg.com/11.0.1.js?045a03941aa457762ba1f68f18dfc14a";
        document.write('<script src="' + src + '" id="sozz"><\/script>');
    })();
</script>

</body>
</html>