<#include "/header.html" />
<script src="https://static.bevol.cn/pc/js/qa.js" type="text/javascript"></script>
<!--面包屑导航-->
<div class="crumbs_nav">
    <h1 class="crumbs_nav_text"><a href="/">首页</a> / Q&A</h1>
</div>

<!--产品内容-->
<div class="main-cosmetics-class margin-bottom-50">
    <div class="qa-class-right main-padding-4">
        <h5>常见问题</h5>
        <ul>
            <li class="active">1、如何理解美丽修行的全成分表？</li>
            <li>2、为什么我在美丽修行查的成分表和我手上产品包装上不一致？</li>
            <li>3、为什么没有搜到我想要的产品？</li>
            <li>4、如何理解美丽修行关于产品的安全星级？</li>
            <li>5、美丽修行的数据从哪里来？可靠吗？</li>
            <li>6、怎么理解成分筛选类的专业名词？</li>
            <li>7、如何理解产品和成分的争议？</li>
            <li>8、什么是三无产品？</li>
            <li>9、为什么美丽修行可以查到的产品药监局查不到？</li>
            <li>10、药监局备案的产品就是合格的意思吗？</li>
            <li>11、怎么知道自己的产品是否含有激素或者重金属超标？</li>
            <li>12、怎么知道产品里是否含有荧光剂？紫外灯能测吗？</li>
            <li>13、孕妈妈如何护肤？</li>
            <li>14、孕妈妈应该避免哪些成分？</li>
            <li>15、哺乳期护肤会对宝宝有影响吗？</li>
            <li>16、为什么（日用）香精安全风险评分很高？</li>
            <li>17、哪些人需要避免香精？</li>
            <li>18、正常皮肤使用香精是否有危险呢？</li>
            <li>19、安全风险高一定就是不好的成分吗？</li>
            <li>20、导致安全风险指数被标高的原因有哪些？</li>
            <li>21、如何理性参考成分的安全指数？</li>
            <li>22、EWG、CIR、SCCS、FDA、CFDA这些专业名词是什么意思？</li>
            <li>23、有致痘风险的成分就会导致长痘吗？</li>
        </ul>
    </div>
    <div class="qa-info-left main-padding-4">
        <div class="cosmetics-info-title qa_info">
            <ul>
                <li class="block">
                    <h5>如何理解美丽修行的全成分表？</h5>
                    <div class="mui-collapse-content">
                        <p>美丽修行对全成分表的解读，将每个成分从四个属性进行解读：安全风险、活性成份、致痘风险、使用目的。点击全成分表上的每一个成分，还可以看到成分的小百科。用户面对成分表上很长的化学名词，也可以通过美丽修行这四个属性和成分小百科的基本解读，对于化妆品里的成分有基础的认识。</p>
                        <h4>安全风险</h4>
                        <p>评分引自EWG美国环境工作组。用于表示长期累积使用该成分对人体皮肤和身体健康存在的风险，数字越高代表风险越大。绿色表示低风险、橙色表示中等风险、红色表示风险较高。</p>
                        <h4>活性成分</h4>
                        <p>为了让用户能一眼辨识那些对皮肤提供良好功效和防护的成分，美丽修行把成本较高，皮肤需要的活性成分，以及对保护皮肤很重要的防晒成分列为活性成分，用爱心图标表示。美丽修行定义的活性成分通常为主流医学界皮肤科都认定为对皮肤有不错功效，成本相对较高的成分。一些对皮肤有功效，也在工业领域常用，并且在化妆品里及其广泛应用的成本低的成分，实在太多，我们没有在功效成分中特别列入，比如甘油，凡士林等。</p>
                        <h4>致痘风险</h4>
                        <p>有些成分对于油性肌肤可能会诱发粉刺，或者让已经长粉刺的肌肤更加恶化，美丽修行将这些成分列为有致痘风险的成分。有感叹号图标代表了该成分有导致粉刺的可能性。 </p>
                        <h4>使用目的</h4>
                        <p>指该成分在配方中使用的用途和目的，化妆品的组成需要很多起作用的成分，常见的用于改善皮肤的目的有保湿，美白，抗氧化，抗炎，防晒等，常见的用于化妆品稳定的目的有增稠，乳化，防腐，酸碱调节等。每一种成分在配方中都有它的使用目的。 </p>
                    </div>
                </li>
                <li>
                    <h5>为什么我在美丽修行查的成分表和我手上产品包装上不一致？</h5>
                    <div class="mui-collapse-content">
                        <p>有多种场景会导致这种情况。第一、产品配方升级，或者产品本身有多个版本。第二、成分一样，但是成分排列的顺序不同，APP上的产品全成分表会标注成分顺序有多种：</p>
                        <p>产品标签顺序：成分表根据单一成分含量有多到少排序，和产品包装上的标签一致。</p>
                        <p>配方备案顺序：成分表根据药监局备案的配方工艺分组排序，和含量无关。和产品包装上的顺序很多不一致。</p>
                        <p>产品备案顺序：根据产品在药监局备案提供的成分表，原则上和产品标签一致，但由于厂家和药监局的问题也有例外情况。</p>
                        <p>为了更方便用户查询，减少用户对不同顺序的疑惑，美丽修行正在逐步人工调整，将配方备案顺序慢慢调整为产品标签顺序。</p>
                    </div>
                </li>
                <li>
                    <h5>为什么没有搜到我想要的产品？</h5>
                    <div class="mui-collapse-content">
                        <p>可能的原因有：</p>
                        <p>1、输入的产品名称不是正规名称，或者有错别字等。</p>
                        <p>2、部分海外产品尚未收录，可以发产品成分表和图片到邮箱qinyuping@bevol.cn,以便美修及时补录。</p>
                        <p>3、查不到的国产品牌，绝大多数是因为没有在药监局备案，美修不予补录。</p>
                    </div>
                </li>
                <li>
                    <h5>如何理解美丽修行关于产品的安全星级？</h5>
                    <div class="mui-collapse-content">
                        <p>美丽修行关于单一成分的安全指数全部引用于美国环境工作组EWG对于化妆品成分的安全评估。 美丽修行建立了自己的逻辑算法，基于成分的安全性等多种因素，经系统算出产品的安全星级。美丽修行关于产品的安全星级对于关注成分安全的消费者，一种简单实用的参考。尤其是敏感肌肤和孕妇儿童等特殊人群，建议选择安全星级在3星半以上的产品，对于耐受肌肤，因为耐受的成分广泛，可以不用太纠结安全星级的标准。</p>
                    </div>
                </li>
                <li>
                    <h5>美丽修行的数据从哪里来？可靠吗？</h5>
                    <div class="mui-collapse-content">
                        <p>美丽修行主要有2个数据库。</p>
                        <h4>药监局备案数据库</h4>
                        <p>在中国，化妆品行业受中国国家食品药品监督管理局（以下简称SFDA）的管理，所有合法上市销售的产品都必须在SFDA进行备案（国产产品）或批准（进口产品），并且SFDA会将这些数据公开。美丽修行完全同步SFDA公开的产品信息，这些产品上显示“进口备案”／“国产备案”的标示，同时也会标明产品在SFDA的备案批准文号。 </p>
                        <h4>标签数据库</h4>
                        <p>由于历史原因，2010年之前在药监局备案的产品没有成分的信息，还有一部分消费者习惯使用海淘去购买未在中国上市的产品，这些产品也没有在药监局进行备案，美丽修行为了让用户有更好的查询体验，会从产品标签上获取产品的成分表，这些产品上会显示“产品标签”，表明成分信息来源于产品标签。 </p>
                        <p>美丽修行的数据库均依据可靠的来源，是值得信任的。但是由于人工的审核，以及药监局备案本身的问题，不排除可能存在极少数错误的情况，APP的产品详情右上角有纠错功能，用户发现错误可以纠错，我们审核确认后会更正。</p>
                    </div>
                </li>
                <li>
                    <h5>怎么理解成分筛选类的专业名词？</h5>
                    <div class="mui-collapse-content">
                        <p>对于一些特殊人群比如敏感问题肌肤，孕妇儿童或者对成分的安全性要求有偏好的人群，可以筛选以下值得注意的成分。</p>
                        <h4>1.传统防腐剂</h4>
                        <p>在《化妆品安全技术规范》（2015 年版）中规定的51项准用防腐剂，以抑制微生物在化妆品中的生长为目的，而在化妆品中加入的物质，不包括具有抗微生物作用的某些醇类和精油。 </p>
                        <h4>2.酒精</h4>
                        <p>学名：乙醇。可以创造清凉肤感，适用于特定皮肤，一般皮肤长期大量使用易干燥，粗糙，并有提前角化的风险。但大多数正规化妆品中添加乙醇含量较少。 </p>
                        <h4>3.孕妇慎用成分</h4>
                        <p>大剂量摄入（主要是口服），对胎儿有危害的成分。一般这类成分涂到皮肤上的剂量多数可忽略不计，不会产生致畸的危害。但是大部分孕妈希望外用也避免，那么大方向是远离致畸和刺激风险的成分，比如视黄醇、水杨酸类。</p>
                        <h4>4.香精香料</h4>
                        <p>化妆品的多种香精香料的统称，法规允许其成分不公开。属于过敏源之一，长时间累积使用低劣廉价的香精对皮肤和人体健康存在潜在风险，但其危害程度取决于香精的档次，添加含量，以及人体的个体差异。</p>
                        <h4>5.矿物油</h4>
                        <p>如矿脂（凡士林）、石蜡、矿油这类从石油中提取出来的物质，具有极佳的延展性，稳定性好，是使用普遍的润滑剂。矿物油的纯度决定了其品质，品质差的矿物油会导致皮肤过敏和致痘。</p>
                        <h4>6.硅油</h4>
                        <p>在室温下保持液体状态的线型聚硅氧烷产品。其结构稳定，肤感顺滑，防水，具有透气性。硅油本身安全，对人体无害。但产品中的残留杂质，可能会有有潜在的安全问题。</p>
                        <h4>7.SLS/SLES表面活性剂</h4>
                        <p>SLS、SLES分别是月桂醇硫酸酯钠和月桂醇聚醚硫酸酯钠的简称，属于清洁力和刺激性比较强的表面活性剂。</p>
                        <h4>8.化学防晒剂</h4>
                        <p>能吸收有伤害作用的紫外辐射的有机化合物，有被皮肤吸收，造成刺激的潜在风险。</p>
                        <h4>9.尼泊金酯类防腐剂</h4>
                        <p>是化妆品中应用最为广泛的一类传统防腐剂，包含了羟苯甲酯、羟苯乙酯、羟苯丙酯、羟苯丁酯、羟苯异丁酯，及其盐，按照其顺序，防腐能力依次增强，但刺激性以及可能存在的安全争议也越大。</p>
                        <h4>10.MIT/CIT防腐剂</h4>
                        <p>MIT、CIT分别是甲基异噻唑啉酮和甲基氯异噻唑啉酮的简称，其混合物称为卡松，是一种便宜、高效的传统防腐剂。我国法规规定卡松只能在洗涤产品中使用，驻留型产品中禁用。</p>
                        <h4>11.甲醛释放体防腐剂</h4>
                        <p>如DMDM 乙内酰脲、咪唑烷基脲、双（羟甲基）咪唑烷基脲，这一类通过缓慢释放甲醛抑菌的传统防腐剂。存在刺激、过敏的问题，也有潜在的致癌风险的争议。</p>
                        <h4>12.含PEG</h4>
                        <p>含有PEG（聚乙二醇）的一类成分，不纯的PEG中可能会有杂质环氧乙烷，而环氧乙烷属于禁用成分。</p>
                    </div>
                </li>
                <li>
                    <h5>如何理解产品和成分的争议？</h5>
                    <div class="mui-collapse-content">
                        <p>即使是化妆品研发人员和专家，对于不同成分，不同产品，很多情况下立场不同，看问题的角度不同，也是存在不同意见，甚至争议的。美丽修行的理念，在于给大家提供多重透明和有价值的信息，供大家参考。比如酒精、皂基、化学防晒剂、香精等，从不同角度看，答案可能会是不一致的。对于用户来说，面对争议和不同的说法，最关键的参考意义就是：得出结论的条件是否和自己情况类似。比如酒精和皂基从干性敏感肌肤的角度来说，建议避免，但是从油性耐受肌肤角度看又是适合的。你是哪种类型的肌肤，就参考哪个角度的结论。通常的化学防晒剂被认为有风险容易刺激皮肤，但是现在领先的技术可以让新型的化学防晒剂不刺激，甚至适合儿童使用。所以要看角度和成分本身。</p>
                    </div>
                </li>
                <li>
                    <h5>什么是三无产品？</h5>
                    <div class="mui-collapse-content">
                        <p>“三无”一般指无生产日期、无质量合格证、无生产厂名，与违禁添加和假货不同。从法规层面看，没有将产品的生产信息、配方成分在国内药监局进行备案的产品，都是三无产品。</p>
                    </div>
                </li>
                <li>
                    <h5>为什么美丽修行可以查到的产品药监局查不到？</h5>
                    <div class="mui-collapse-content">
                        <p>有两种可能。一种是没有正式进入中国市场的海外产品，已经在国外的生产国符合该国的规范，又很受中国用户喜欢的，用户常常通过海淘代购方式购入，这些海外产品因为没有正式进入中国，所以没有在药监局进行备案。美丽修行因为用户关注度高而人工补录。另一种可能是国产非特殊化妆品备案，实际是备案了，但在药监局是另一个隐蔽的查询入口，很多用户不知道。国产非特殊用途化妆品的监管部门不是国家总局，而是各地省局。所以，很多国产化妆品在国家总局网站的查询入口是无法查询到的。具体解释可以看APP专题里关于药监局的文章。</p>
                    </div>
                </li>
                <li>
                    <h5>药监局备案的产品就是合格的意思吗？</h5>
                    <div class="mui-collapse-content">
                        <p>完成了备案只意味着可以合法上市，能够大批量的进入市场流通，与产品质量好坏无关。就和汽车上了牌照才能上路一样。上牌照与车的好坏无关。在药监局备案的同时，产品需要做好第三方检测报告，以备药监局随时抽查。但药监局对产品功效及相对优劣并不作判断，会定期公布抽检不合格的产品。</p>
                    </div>
                </li>
                <li>
                    <h5>怎么知道自己的产品是否含有激素或者重金属超标？</h5>
                    <div class="mui-collapse-content">
                        <p>激素和重金属超标并不会通过化妆品的成分表显示，只有相关抽检报告，使用专业的检测仪器才能检测。美丽修行会同步药监局一些抽检报告以快讯的方式告知消费者。相对来说，选择可靠的品牌出现问题的概率会小很多。</p>
                    </div>
                </li>
                <li>
                    <h5>怎么知道产品里是否含有荧光剂？紫外灯能测吗？</h5>
                    <div class="mui-collapse-content">
                        <p>荧光剂的检测需要专业的检测设备。验钞笔，紫外灯只能观察到荧光反应，荧光反应不代表有荧光剂，我们日常吃的维生素A,维生素E，护肤品中的水杨酸都会有荧光反应，所以你即便照射出了荧光反应 ，也不能断定产品是否含有荧光剂 。</p>
                        <p>护肤品中，最常被添加荧光剂的则是“面膜”， 荧光剂在面膜中可以起到增白的效果，大大提升脸部本身的光亮度，给人美白的假象。 选择美白和面膜产品时，要熟知美白并非一蹴而成，务必选择正规品牌，国家已经将美白产品划为特殊化妆品监管。只要大家选择正规产品，关于荧光剂多余的担心和恐慌，轻信被夸大的谣传，都是没有必要的。</p>
                    </div>
                </li>
                <li>
                    <h5>孕妈妈如何护肤？</h5>
                    <div class="mui-collapse-content">
                        <p><span>清洁：</span>首选温和的氨基酸表面活性剂的洁面产品。</p>
                        <p><span>保湿：</span>选择无香、配方简单的基础保湿产品，再根据肤质，比如干性还是油性来选用。</p>
                        <p><span>防晒：</span>尽量选择纯物理防晒成分的防晒霜。物理遮蔽最可靠，打伞带帽太阳镜。</p>
                        <p><span>妊娠纹：</span>有一定遗传性，目前没有对妊娠纹有明显的作用的有效成分，关键是预防，控制体重，避免腹部皮肤迅速撑大。涂抹身体乳和一些防止妊娠纹的油，坚持按摩。</p>
                        <p><span>妊娠斑：</span>因激素变化导致的妊娠斑，做好防晒，等哺乳期过后，视情况处理，轻度的会慢慢自然恢复，可以使用一些祛斑的精华，重度的建议医疗美容手段治疗。出于安全的角度，不鼓励孕妈妈去过度追求高功效，比如美白、抗皱等。其实做好基础的保湿和防晒就是最实际的美白和抗老方式。</p>
                    </div>
                </li>
                <li>
                    <h5>孕妈妈应该避免哪些成分？</h5>
                    <div class="mui-collapse-content">
                        <p>一些口服会对孕妇有风险的成分也会出现在外用护肤品中，虽然外用不会产生口服的影响，但谨慎的孕妈妈可以选择避免。</p>
                        <p><span>维A类（Retinoids）：</span>高剂量的口服的维生素A可能对胎儿有害。维A常见于抗老抗皱和祛痘产品。比如治疗痘痘常用的药物阿达帕林也属于A酸类。</p>
                        <p><span>水杨酸（Salicylic acid）：</span>口服高剂量的水杨酸会造成婴儿缺陷和引起妊娠并发症。水杨酸类成分常见于美白、控油去痘产品。</p>
                        <p><span>烫发剂，染发剂：</span>这种常识大家都有，孕期就忍一下不要烫染头发吧。</p>
                        <p><span>化学防晒剂：</span>有些有类雌性荷尔蒙。</p>
                        <p><span>疗效不明的通经类精油：</span>精油分子量小，可以经皮吸收到血液，孕早期不建议使用。</p>
                        <p>一个方法论：</p>
                        <p>对照美丽修行的APP，只要没有孕妇慎用成分，理论上都属于孕妇可以用的。如果追求更高的安全标准，和更匹配自己的肤质，则建议选择安全星级在4-5星之间，再对比一下自己肤质适用和不适用的成分，作出选择。</p>
                    </div>
                </li>
                <li>
                    <h5>哺乳期护肤会对宝宝有影响吗？</h5>
                    <div class="mui-collapse-content">
                        <p>基本不会。母乳不会因外用护肤品产生影响。哺乳期的护肤注意事项与孕期护肤基本一致。但是有一点，就是涂在乳头上防止乳头开裂的护肤品，会容易被宝宝吸入口中。尽量以安全的纯油膏类护理乳头。</p>
                    </div>
                </li>
                <li>
                    <h5>为什么（日用）香精安全风险评分很高？</h5>
                    <div class="mui-collapse-content">
                        <p>美国环境工作组EWG 把“（日用）香精”的安全风险标注为8，这里的“（日用）香精”是所有加入洗涤用品，化妆品的多种香精香料的统称，并非某种单一成分。之所以被认为是高风险成分，主要是因为香精香料在化妆品中属于最主要的过敏源之一。香精香料的品种多达数千种，且法规允许其成分不公开，出于谨慎的考虑，安全风险自然就被标高了。</p>
                    </div>
                </li>
                <li>
                    <h5>哪些人需要避免香精？</h5>
                    <div class="mui-collapse-content">
                        <p>1、明确对香精香料过敏的人群，尤其是过敏原检测对芳香化合物等过敏的。如果可以做过敏原检测，可以参考一个研究结果，容易出现湿疹的干敏皮肤对很多香精不耐受。</p>
                        <p>2、皮肤屏障受损，各种皮炎，痤疮，激光/微整形手术后的修复护理等特殊时期。</p>
                    </div>
                </li>
                <li>
                    <h5>正常皮肤使用香精是否有危险呢？</h5>
                    <div class="mui-collapse-content">
                        <p>香料与香精大致可以分为天然香料、合成香料和香精。各国家的相关法规都会对一些成分禁用或限用，同时，也会进行相关的测试和试验。大型的化妆品公司有着长期的行业经验，产品也经受了时间的检验，拥有较多的消费人群，对于香精香料的选择、控制剂量、处理方面有着丰富的经验。所以，如果是正常皮肤，不对香精过敏的人群，可以选择正规使用香精的产品。</p>
                    </div>
                </li>
                <li>
                    <h5>安全风险高一定就是不好的成分吗？</h5>
                    <div class="mui-collapse-content">
                        <p>不一定。美丽修行的安全指数全部引用于美国环境工作组EWG对于化妆品成分的安全评估，EWG评级是从产品的成分构成出发反映了潜在的健康危害，而不针对产品本身。一些常见的功效非常好的活性成分比如水杨酸、羟基乙酸、视黄醇等都是被EWG标了橙色和红色，一些功效强的活性成分，不一定都是最安全温和的。</p>
                    </div>
                </li>
                <li>
                    <h5>导致安全风险指数被标高的原因有哪些？</h5>
                    <div class="mui-collapse-content">
                        <p>1、常见的一些成分的影响还未有定论，存在一定的争议。以常见的成分——水杨酸来举例，口服一定量可能会导致胎儿畸形，虽然并没有研究证明外用会对孕妇的身体造成影响，但是谨慎起见，安全风险也被标高。同时，大量严格的科学实验后所规定的量内是安全的，也是监管机构允许的。</p>
                        <p>2、很多美国皮肤科医生推荐的视黄醇，也就是我们常说的维生素A，是一个非常有效的抗氧化抗衰老成分，能提高皮肤活性，被很多大牌产品使用，FDA和CIR（美国化妆品成分评估委员会）都批准可以使用视黄醇。但是视黄醇的安全风险指数在EWG 评分中是9，高风险。视黄醇可以明确的风险是，孕妇不能口服使用，会导致婴儿畸形。值得一提的是皮肤科常用于治疗痤疮的药物——阿达帕林，阿达帕林的主要成分也是维A酸。</p>
                        <p>3、一种常见成分——（日用）香精，EWG也给予了8 的高风险评分，因为香精是皮肤的主要过敏原之一。但是“（日用）香精”是一个总称，是一个大类，里面可能包含了多种复杂的成分。</p>
                    </div>
                </li>
                <li>
                    <h5>如何理性参考成分的安全指数？</h5>
                    <div class="mui-collapse-content">
                        <p>1、看产品是倾向于使用相对安全温和的成分，还是大量使用风险相对较高的成分。但这也不是绝对的，除了和浓度、生产商的化学工艺相关外，还与个人体质差异有关，这和有些人特别喜欢吃辣，但是有些人一点辣都受不了是一个道理。 </p>
                        <p>2、了解自身的肤质，了解自身的过敏源，点开高风险的成分，看详细的成分的说明，了解高风险的原因，根据自己的皮肤判断这种成分是否对自己有影响。如果之前有过对香精香料过敏经历的，或者被诊断的过敏源有芳香化合物，最好要避开含香精香料以及精油类的产品。</p>
                        <p>3、也不用对于高风险成分避之如蛇蝎，萝卜青菜各有所爱，一句话：根据自身情况理性选择。即使是化妆品研发人员和此领域专家，对于不同成分，不同产品，在很多情况下立场不同，看问题的角度不同，也是存在不同意见的，甚至争议的，因而谁也不能给出绝对的结论。</p>
                    </div>
                </li>
                <li>
                    <h5>EWG、CIR、SCCS、FDA、CFDA这些专业名词是什么意思？</h5>
                    <div class="mui-collapse-content">
                        <p>代表一些相关专业机构的简称。EWG是美国环境工作组，CIR是美国化妆品原料评估委员会、SCCS是欧盟消费者安全科学委员会、FDA是美国食品药品监督管理局、CFDA是中国食品药品监督管理局。美丽修行的团队会密切关注这些机构发布的权威数据和信息，将美丽修行APP做得更科学。</p>
                    </div>
                </li>
                <li>
                    <h5>有致痘风险的成分就会导致长痘吗？</h5>
                    <div class="mui-collapse-content">
                        <p>致痘风险的成分是否会导致长痘和使用的浓度、工艺、配方都有关系。如硬脂酸在面霜中添加含量较高，就容易堵塞毛孔和导致油性皮肤长痘，但是添加在皂基型的洁面产品中，硬脂酸与氢氧化钠、氢氧化钾等反应之后，就变成皂基，用于清洁了，本身不会堵塞毛孔，反而会清洁毛孔了。</p>
                        <p>有致痘风险的成分，在洗去型的产品如洁面和卸妆产品中出现，不用很刻意排斥，大部分都会被清洁掉，残留面部的不多，但是在精华、乳液和面霜中大量出现致痘成分，则需要先了解产品的口碑和适合的肤质，痘痘肌如果不适用最好还是尽量避免。</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="clear"></div>

</div>
<#include "/footer.html" />