</div>
    <!--footer-->
    <div class="main-footer col-public">
        <p>@ 武汉智美无限信息科技有限公司 美丽修行<br>
            <script>var date = new Date();
            document.write(date.getFullYear());</script>
            bevol.cn 版权所有 ICP证：鄂15015954 <span class="bevol-nav"><a href="/navigation.html">网站导航</a></span>
        </p>
    </div>
<script src="//cdn.bootcss.com/echo.js/1.7.3/echo.min.js"></script>
<script src="${js!'https://static.bevol.cn/pc/js'}/jquery.cookie.min.js" type="text/javascript"></script>
<!---新版本 public.js 与 base.js 合并--->
<script type="text/javascript" src="${js!'https://static.bevol.cn/pc/js'}/base_20170621.js"></script>
<script type="text/javascript">
    //baidu统计
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?14d9852b3b43958dbf0ebac06426979c";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<script>
    //360统计
    (function(){
        var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?045a03941aa457762ba1f68f18dfc14a":"https://jspassport.ssl.qhimg.com/11.0.1.js?045a03941aa457762ba1f68f18dfc14a";
        document.write('<script src="' + src + '" id="sozz"><\/script>');
    })();
</script>
</body>
</html>