<#include "/header.html" />
<!--面包屑导航-->
<div class="crumbs_nav">
    <h1 class="crumbs_nav_text"><a href="/">首页</a> / <a href="/about.html">关于我们</a>/ 加入我们</h1>
</div>

<!--产品内容-->
<div class="main-cosmetics-class">
    <div class="cosmetics-info-left main-padding-4">
        <div class="cosmetics-info-title padding15 contact margin-bottom-50">
            <ul>
                <!--<li>
                    <h5>原创投稿</h5>
                    <p>首先保证是你自己的原创文章，其次美丽修行作为你的微信公众号的第一发布平台。</p>
                    <p>类别以护肤、彩妆为主，其它如果特别能吸引我们的文章类别不限。</p>
                    <p>投稿邮箱：<a href="mailto:yiou@bevol.cn">yiou@bevol.cn</a></p>
                </li>
                <li>
                    <h5>商务合作</h5>
                    <p>联系邮箱：<a href="mailto:xiaoqingfang@bevol.cn">xiaoqingfang@bevol.cn</a></p>
                </li>-->
                <li>
                    <h5>加入我们：</h5>
                    <p class="p1">Java工程师</p>
                    <p>1、对美丽修行（可参见 <a href="https://www.bevol.cn" target="_blank">www.bevol.cn</a>）的功能设计和编码工作，保证项目按照时间和质量要求完成；</p>
                    <p>2、根据工作安排，承担主要核心模块的开发工作；</p>
                    <p>3、参与Java技术路线的规划和技术平台的发展；</p>
                    <p>4、参与Java技术路线的研究方向，承担Java技术路线的基础研发工作。</p>
                    <br>
                    <p class="p1">Web前端工程师</p>
                    <p>1、编写Web和移动端页面；</p>
                    <p>2、负责前端代码的编写与维护；</p>
                    <p>3、配合后台开发人员实现数据展现。</p>
                    <br>
                    <p class="p1">PHP工程师</p>
                    <p>1、对美丽修行（可参见 <a href="https://www.bevol.cn" target="_blank">www.bevol.cn</a>）的功能设计和编码工作，保证项目按照时间和质量要求完成；</p>
                    <p>2、根据工作安排，承担主要核心模块的开发工作；</p>
                    <p>3、参与php技术路线的规划和技术平台的发展。</p>
                    <br>
                    <p class="p1">搜索工程师</p>
                    <p>1、负责化妆品搜索引擎的开发和维护；</p>
                    <p>2、抓取、索引、检索等核心系统的研发；</p>
                    <p>3、大规模数据的分析和处理，搜索后端数据挖掘和文本分析；</p>
                    <p>4、关注业界前沿技术，深入研究移动信息检索服务架构，探索和创新移动搜索技术。</p>
                    <br>
                    <p class="p1">Java架构师</p>
                    <p>1、负责美丽修行系统的设计优化维护；</p>
                    <p>2、参与后台接口的设计；</p>
                    <p>3、解决各种开发中遇到的疑难问题。</p>
                </li>
                <li>
                    <h5>简历请投：<a href="mailto:hr@bevol.cn">hr@bevol.cn</a></h5>
                    <h5>工作地点：武汉光谷</h5>
                </li>
            </ul>
        </div>
    </div>

    <#include "/sidebar.html" />

</div>
<#include "/footer.html" />