<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bevol.internal.dao.mapper.DataCategoryOldMapper">
<!-- 
<resultMap type="cn.bevol.internal.dao.Goods" id="BaseMap">
	<id column="id" property="id" jdbcType="INTEGER"/>
	<result column="hit_num" property="hit" jdbcType="Long"/>
	<result column="goods_id" property="id" jdbcType="Long"/>
</resultMap>
-->
	
	<select id="selectAllSfetyGoods" resultType="Long">
		select hq_goods_search.goods_id from hq_goods_search,hq_goods where hq_goods_search.safety_1_num>4.5 and hq_goods_search.goods_id=hq_goods.id and hq_goods.deleted=0 and hq_goods.hidden=0 and hq_goods.hidden_skin=0 order by hq_goods_search.comment_avg_score Desc limit 0,200  
	</select>
	<select id="selectAllGoodsById" resultType="Long">
		select hq_goods_search.goods_id from hq_goods_search,hq_goods where hq_goods_search.goods_id=hq_goods.id and hq_goods.deleted=0 and hq_goods.hidden=0 and hq_goods.hidden_skin=0  order by hq_goods_search.comment_avg_score Desc limit 0,200  
	</select>
	<select id="selectGoodsById" resultType="Long">
		select hq_goods_search.goods_id from hq_goods_search,hq_goods where hq_goods_search.category=#{category} and hq_goods_search.goods_id=hq_goods.id and hq_goods.deleted=0 and hq_goods.hidden=0 and hq_goods.hidden_skin=0  order by hq_goods_search.comment_avg_score Desc limit 0,200  
	</select>
		<select id="selectSfetyGoodsById" resultType="Long">
		select hq_goods_search.goods_id from hq_goods_search,hq_goods where hq_goods_search.category=#{category} and hq_goods_search.safety_1_num>4.5 and hq_goods_search.goods_id=hq_goods.id and hq_goods.deleted=0 and hq_goods.hidden=0 and hq_goods.hidden_skin=0 order by hq_goods_search.comment_avg_score Desc limit 0,200  
	</select>
		<select id="selectByBrandId" resultType="Long">
		select  hq_goods.id from hq_goods,hq_goods_search where hq_goods.brand_id=#{brandId} and hq_goods.id=hq_goods_search.goods_id and hq_goods.deleted=0 and hq_goods.hidden=0 and hq_goods.hidden_skin=0 order by hq_goods_search.comment_avg_score desc limit 200	
	</select>
		<select id="selectTitleByBrandId" resultType="String">
		select cn_name from hq_brands where id=#{brandId}
	</select>
</mapper>