<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="cn.bevol.internal.dao.mapper.RecoveryOldMapper" >
	
 	
  	<!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
  	<!-- 保存-->  
	<insert id="save" parameterType="cn.bevol.internal.entity.entityAction.Recovery" useGeneratedKeys="true" keyProperty="id">
		insert into hq_recovery(tstamp,tname,userid,entityid,content) values(#{updateStamp},#{tname},#{userId},#{entityId},#{content})
	</insert>
	
    <delete id="deleteField">
			delete from hq_recovery where  ${feild}=#{val}
	</delete>
	
    <select id="findFeild"  resultType="cn.bevol.internal.entity.entityAction.Recovery">
		select id,tstamp updateStamp,tstamp createStamp,tname,entityid entityId,userid userId,content,state from hq_recovery where ${feild}=#{val} 
	</select>
    	
</mapper>