<#include "/header.html" />
</div>
<style>
    .mlxx-container{
        padding-top: 178px;
        padding-bottom: 118px;
        width: 100vw;
        background-color: #b38dc4;
        color: #FAFAFA;
        text-align: center;
        box-sizing: border-box;
    }
    .mlxx-container h1{
        font-size: 30px;
        font-family: "PingFang SC","Microsoft YaHei";
        font-weight: 500;
    }
    .mlxx-container p{
        margin-top: 42px;
        line-height: 30px;
        font-size: 20px;
        font-family: "PingFang SC","Microsoft YaHei";
        font-weight: 400;
        color: #FFFFFF;
    }
    #team{
        padding-top: 96px;
        padding-bottom: 96px;
        width: 100%;
        background-color: white;
    }
    #team h2{
        font-size: 30px;
        font-weight: 500;
        font-family: "PingFang SC","Microsoft YaHei";
        text-align: center;
    }
    .flex-container{
        margin-top: 90px;
        display:-webkit-flex;
        -webkit-flex-flow: row nowrap;
        -webkit-justify-content: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    .person-card{
        margin-left: 36px;
    }
    .person-card h3{
        margin-top: 42px;
        font-size: 20px;
        font-weight: 400;
    }
    .person-card p{
        font-size: 16px;
        line-height: 28px;
        font-weight: 400;
    }
    .flex-col-container{
        width: 100%;
        display: -webkit-flex;
        -webkit-flex-flow: column nowrap;
        -webkit-justify-content: center;
        -webkit-align-items: center;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding-top: 176px;
        padding-bottom: 172px;
        color: white;
        background-color: #b38dc4;
        text-align: center;
    }
    .flex-col-container h1{
        font-size: 30px;
        font-weight: 500;
        font-family: "PingFang SC","Microsoft YaHei";
    }
    .flex-col-container p{
        margin-top: 36px;
        font-size: 16px;
        line-height: 28px;
        font-weight: 400;
        color: #FAFAFA;
        font-family: "PingFang SC","Microsoft YaHei";
    }
    .business{
        margin-top: 36px;
    }
    .business + p{
        margin-top: 5px;
    }
    .flex-col-container a{
        text-decoration: none;
        color: #FAFAFA;
    }
    .join-us{
        position: relative;
        width: 160px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-top: 72px;
        background-color: white;
        color: #b38dc4;
        border-radius: 10px;
        cursor: pointer;
    }
</style>
<!--美丽修行是什么-->
<div class="mlxx-container">
    <h1>美丽修行是什么？</h1>
    <p>美丽修行是一款在护肤和化妆上传授经验，查询成分的App。<br>
        它承载着我们对于美的见解：<br>
        用智慧和经验去修行美丽。<br>
        无论是护肤小白还是成分党都能在我们的App上满足需求。<br>
        方便快捷地解决用户的皮肤问题-是美丽修行的最终定位。<br>
        目前APP已经能承载大部分用户的需求，<br>
        但我们依然觉得不能局限于此，<br>
        专家专栏以及用户达人的分享、<br>
        社区建设、产品/成分搜索，<br>
        为了更全面地照顾到不同类型的用户的喜好与需要，<br>
        未来美丽修行也会更快更稳的成长......<br>
    </p>
</div>
<!--Team-->
<div id="team">
    <h2>高效且经验丰富的团队</h2>
    <div class="flex-container">
        <div class="person-card">
            <img src="${img}/pc/images/yiou.png" alt="">
            <h3>Founder/CEO 易鸥</h3>
            <p>易恬药妆&易恬芳疗创始人，曾<br>
                任职于500强化工企业，深谙护<br>
                肤供应链，连续创业者。<br>
                华中科技大学学士<br>
                武汉大学学士<br>
            </p>
        </div>
        <div class="person-card">
            <img src="${img}/pc/images/liufang.png" alt="">
            <h3>Co-Founder 刘芳</h3>
            <p>曾任职4大TS投资咨询部门及<br>
                股权投资机构。<br>
                武汉大学学士<br>
                卡斯兰特大学硕士<br>
            </p>
        </div>
        <div class="person-card">
            <img src="${img}/pc/images/jiangyan.png" alt="">
            <h3>技术负责人 江源</h3>
            <p>10年创业公司研发经验，曾担<br>
                任铁甲网技术主管和北京千宇<br>
                信息技术有限公司技术总监<br>
            </p>
        </div>
        <div class="person-card">
            <img src="${img}/pc/images/liwei.png" alt="">
            <h3>产品负责人 李伟</h3>
            <p>全球最大海淘社区55海淘VP及合<br>
                伙人，曾担任上亿元融资跨<br>
                境电商美妆产品负责人。<br>
                连续创业者。<br>
            </p>
        </div>
    </div>
</div>
<!--原创投稿-->
<div class="flex-col-container">
    <h1>原创投稿</h1>
    <p>首先保证是你自己的原创文章，其次美丽修行作为你的微信公众号的第一发布平台。<br>
        类别以护肤、彩妆为主，其它如果特别能吸引我们的文章类别不限。<br>
        投稿邮箱：<a href="#">cs@bevol.cn</a>
    </p>
    <h1 class="business">商务合作</h1>
    <p>联系邮箱：<a href="#">bd@bevol.cn</a></p>
    <div class="join-us"><a style="color:#b38dc4" href="/contact.html">加入我们</a></div>
</div>
<!--下载&关注-->
<div class="main-download col-public">
    <h2>下载&关注</h2>
    <div class="main-download-list download-col-info">
        <ul>
            <li>
                <a href="http://istatic.bevol.cn/static/download/init/6">
                    <div class="main-download-list-img main-padding-3 cursor hover" id="download_iphone" style="color:#616161;text-align: center;padding-top: 50px;border: none">
                        <i class="fa fa-apple" aria-hidden="true" style="transition: all .5s linear;font-size: 120px"></i>
                        <p style="font-size: 26px">iPhone</p>
                        <!--<img class="" src="https://img0.bevol.cn/pc/images/pcpicture/ios-big.png" alt="">-->
                    </div>
                </a>
            </li>
            <li>
                <a target="_self"  href="http://istatic.bevol.cn/static/download/init/5">
                    <div class="main-download-list-img main-padding-3" id="download_android" style="color: #616161;text-align: center;padding-top: 50px;border: none">
                        <i class="fa fa-android" aria-hidden="true"  style="transition: all .5s linear;font-size: 120px;"></i>
                        <p style="font-size: 26px">Android</p>
                        <!--<img class="" src="https://img0.bevol.cn/pc/images/pcpicture/android-big.png" alt="">-->
                    </div>
                </a>
            </li>
            <li>
                <div class="main-download-list-img main-padding-3" style="position: relative;border: none">
                    <div style="position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%)">
                        <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="color: #8d63ae"></i>
                    </div>
                    <img class="" src="" alt="" data-echo="https://img0.bevol.cn/pc/images/pcpicture/qr-code.png" width="260" height="260" style="position:relative;z-index: 1">
                </div>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
</div>
<#include "/footer.html" />