<#include "/header.html" />

<!--面包屑导航-->
<div class="crumbs_nav">
    <h1 class="crumbs_nav_text"><a target="_self" href="/">首页</a> / 专题列表</h1>
</div>

<!--分类内容-->
<div class="main-cosmetics-class">
    <div class="cosmetics-class-left main-padding-4">

        <#list lists as list>
            <div class="goods-main-info-box">
                <ul class="page-content">
                    <a href="/zt/${list.id}" alt="${list.title}">
                        <li class="cursor">
                            <div class="goods-main-info-img w268">
                                <#if  list.image?? && list.image != '' && list.image!='0'>
                                    <img class="h186" src="${img}/zt/${list.image!}@80p" alt="${list.title}">
                                </#if>
                            </div>
                            <div class="article-main-info-text">
                                <p class="p1">${list.title}</p>
                            </div>
                            <div class="clear"></div>
                        </li>
                    </a>
                </ul>
            </div>
        </#list>

    </div>

    <#include "/sidebar.html" />


    <#include "/page.html" />

</div>
<#include "/footer.html" />
